<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="buildXml.js"></script>
  <style>
      #frm, #raw{
        display: block;
        float: left;
        width: 320px;
      }
      #raw{
        height:300px;
        width:320px;
        margin-left:0.5em;
      }
      #add{
        display:block;
        float: left;
        margin-left:1.5em;
      }
      #add div{
        display: table-row;
      }
      #add label{
        width:320px;
        width:5.5em;
      }
      #div button{
        float: right;
      }
  </style>
</head>
<body>
  <div id="app">
    <form id="frm">
      プロフィール：<select id="profiles" v-model="selected">
        <option v-for="option in responseProfiles" v-bind:value="option">
          {{ option }}
        </option>
      </select>
      <span>Selected: {{ selected }}</span>
      <br>
      フォーマット：<select id="formats" v-model="selectedFormats">
        <option v-for="option in formats" v-bind:value="option">
          {{ option }}
        </option>
      </select>
      <span>Selected: {{ selectedFormats }}</span>
      <br>
      <br>
      <div id="output"></div>
    </form>
    <br><button v-on:click="submit">取得する</button>
    <br><textarea id="raw"></textarea>
    <br>画面を読み込んだ時のGETリクエスト結果：
    <br>{{ responseProfiles }}
    <br>ボタンを押した時のGETリクエスト結果：
    <br>{{ responseProfile }}

    <br><form id="add">
      <div><label>profile name</label><input v-model="responseProfile.profileName" name="profileName"></div>
      <div><label>name</label><input v-model="responseProfile.name" name="name"></div>
      <div><label>irc</label><input v-model="responseProfile.irc" name="irc"></div>
      <div><label>twitter</label><input v-model="responseProfile.twitter" name="twitter"></div>
      <div><label>github</label><input v-model="responseProfile.github" name="github"></div>
      <div><label>location</label><input v-model="responseProfile.location" name="location"></div>
      <div><label>desctiption</label><input v-model="responseProfile.desctiption" name="desctiption"></div>
      <div><button v-on:click="update">Add</button></div>
    </form>
  </div>
  <!-- <script>
    $.get('http://localhost:8080/profiles', function (profile_names) {
      $.each(profile_names, function (i, pname) {
        $('#profiles').append('<option>' + pname + '</option>')
      });
    }, 'json');

    $('#formats, #profiles').change(function () {
      var format = $('#formats').val();
      $.get(
        'http://localhost:8080/profile/' + $('#profiles') + '.' + format,
        function (profile, stat, jqXHR) {
          var cT = jqXHR.getResponseHeader('Content-Type');
          $('#raw').val(profile);
          $('#output').html('');
          if (cT === 'application/json') {
            $.each($.parseJSON(profile),
            function (k, v) {
              $('output').append('<b>' + k + '</b> : ' + v + '<br>');
            });
            return;
          }
          if (cT === 'application/XML'){
            profile = jqXHR.responseXML.firstChild.childNodes;
            $.each(profile, function (k, v) {
              if(v && v.nodeType === 1){
                $('#output').append('<b>' + v.tagName + '</b> : ' + v.textContent + '<br>');
              }
            });
          }
        }, 'text');
    });
  </script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        responseProfile: {
          profileName: '',
          name: '',
          irc: '',
          twitter: '',
          github: '',
          location: '',
          desctiption: '',
        },
        responseProfiles: {},
        formats: ['json', 'xml'],
        selected: '',
        selectedFormats: '',
        profile: '',
      },
      computed:{
        url(){ return 'http://localhost:8080/profile/' + this.selected.toString() + '.' + this.selectedFormats.toString() }
      },
      methods:{
        async submit(){
          const profile = await axios.get(this.url)
          this.responseProfile = profile.data
        },
        async update() {
          const response = await axios.post('/', this.responseProfile)
          this.responseProfile = response.data
        },
      },
      async created () {
          const profiles = await axios.get('http://localhost:8080/profiles')
          this.responseProfiles = profiles.data
      },
    })
  </script>
</body>
</html>

<!DOCTYPE html>